<div *ngIf="model && !report" class="padding20 white-bg">
  <div class="row">
    <div class="col-12">
        <div class="btn-cont">
            <!-- <button (click)="initReport()" class="btn btn-primary pull-left">Response</button> -->
            <!-- <button (click)="addForm()" class="btn btn-primary pull-right" style="margin-left:3px;">Add Form</button> -->
            <!-- <button (click)="updateForm()" class="btn btn-primary pull-right">Update</button> -->
            <!-- <a routerLink="/test" target="_blank" class="btn btn-success pull-right" style="margin-right:3px;">View <i class="fa fa-external-link"></i></a> -->
          
          </div>
    </div>
  </div>
  <div class="spacer30"></div>

  <div class="row ml-2 mr-1">
    <div [class]="step1class">	
      <div *ngIf="getScreens && getScreens.length < 1">
        <span>No Pages Yet</span>
      </div>
      <div *ngIf="getScreens && getScreens.length > 0">
        <h4>Pages</h4>
      </div>
      <div class="accordion">
        <div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, getScreens)" class="dndList">
          <div dndPlaceholderRef class="dndPlaceholder"> </div>
          <div *ngFor="let screen of getScreens;let i=index;" [dndDraggable]="screen" [dndType]="screen" 
          dndEffectAllowed="move" (dndMoved)="onDragged(screen, getScreens)" (click)="getFormData(screen)">
            <div class="card card-header" style="float: left;width: 100%" data-toggle="tooltip" data-placement="top" title="Click to see forms">
              <span style="display: flex;justify-content: space-between;">{{screen.ScreenName}}</span>
            </div>
          </div>
        </div>	
      </div>
      <button type="button" class="btn btn-success btn-sm btngreen" (click)="openPopup(content)"><i class="fa fa-plus"></i>&nbsp;Add a Page</button>	
    </div>
      
    <div [class]="step2class" style="border-left: 1px solid lightblue;" *ngIf="step>1">
      <h4>{{screen.ScreenName}} - Forms</h4>
      <div class="formslist">
        <ul>	
          <li *ngFor="let form of getForms" (click)="formDisplay(form, screen)" style="cursor: pointer;">	
            <button type="button" class="btn btn-sm">{{form.FormName}}</button>	
          </li>	
        </ul>
      </div>
      <button type="button" class="btn btn-success btn-sm btngreen" data-toggle="tooltip" data-placement="top" title="Add form in {{screen.ScreenName}}" (click)="addScreenForm()"><i class="fa fa-plus"></i>&nbsp;Add Form</button>
    </div>
      
    <div [class]="step3class" style="border-left: 1px solid lightblue;height:500px;overflow-y: scroll;" *ngIf="step>2">
      <div *ngFor="let drop of dropArr.slice().reverse()" style="margin-top:70px;">
        <app-drop-area [indexval]="drop" [viewForm]="viewForm" (newItemEvent)='formStatus($event)'></app-drop-area>
      </div>
    </div>
      
    <div [class]="step4class" style="border-left: 1px solid lightblue;height:500px;overflow-y: scroll;" *ngIf="step>3">
      <h4 (click)="test()" style="margin-top: 30px;">Select Fields</h4>
      <p>Customize your form by drag and drop below fields to the form area.</p>
      <!--a draggable element-->
      <div class="fields" *ngFor="let item of fieldModels">
        <div class="field pointer shadow-bg" [dndDraggable]="item"
        [dndEffectAllowed]="'copy'" [dndDisableIf]="viewForm"
        (dndEnd)="onDragEnd($event)">
          <i [ngClass]="item.icon" class="fa pull-left"></i>
          <h5>{{item.label}}</h5>
        </div>
      </div>
    </div>
    <style>
      .scrollbar::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* just make scrollbar invisible */
    }
    </style>

  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">	
  <div class="modal-header">	
    <h4 class="modal-title" id="modal-basic-title">Add a Page</h4>	
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">	
      <span aria-hidden="true">&times;</span>	
    </button>	
  </div>	
  <div class="modal-body">	
    <app-add-screen (newItemEvent)="closePopup($event)" [popup]="popup"></app-add-screen>	
  </div>	
</ng-template>

<div *ngIf="report" class="padding20 white-bg">
    <div class="row">
        <div class="col-12 btn-cont">
            <button (click)="report=false" class="btn btn-primary"><< Back</button>
        </div>
        <div class="col-12 spacer30"></div>
        <!-- if records found -->
        <div  *ngIf="reports?.length > 0" class="col-12">
            <div *ngFor="let records of reports" class="report-block">
                <div *ngFor="let record of records.attributes">
                    <div *ngIf="record.type !='button' && record.type !='paragraph'" class="row">
                     <div class="col-4">{{record.label}}</div>
                        <div class="col-8">{{record.value}}</div>
                    </div>
                </div>
            </div>
            <!-- <pre>{{reports|json}}</pre> -->
        </div> 
        <!-- if no records found -->
        <div *ngIf="reports?.length == 0" class="col-12 btn-cont">
            No response found
        </div>
    </div>
</div>

<div *ngIf="model" class="container marginT60  marginB30" style="max-width:500px;">


<!-- <pre *ngIf="show==1 && model">
    {{model|json}}
</pre> -->
